/* section top-promo */
.top-promo {
  height: 800px;
  background: url('../img/first_bg.png') center center/cover no-repeat;
  padding: 38px 0 61px 0;
}
.top-promo .content-container {
  width: 1140px;
  margin: 0 auto;
}

.top-promo .content-container .logo .logo-img {
  display: block;
  margin: 0 auto;
}

.top-promo .content-container .logo .logo-text {
  font: Roboto;
  color: white;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 14px 0 53px 0;
}

.top-promo .content-container .promo-text .promo-yellow-text-title {
  /* font-family: 'Roboto-bold'; */
  color: #f9bf3b;
  font-style: normal;
  font-weight: 900;
  font-size: 41px;
  line-height: 41px;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0;
}

.top-promo .content-container .promo-text .big-title {
  /* font-family: 'Roboto'; */
  color: white;
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}

.top-promo .content-container .promo-text .small-text {
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 28px;
  text-align: left;
  margin: 0 15px;
}

.top-promo .content-container .promo-text .yellow-mark {
  color: #f9bf3b;
  text-transform: uppercase;
}

.top-promo .content-container .promo-text .btn,
.gift .gift-container .btn {
  color: white;
  font-family: 'RobotoCondensed';
  font-size: 21px;
  width: 315px;
  height: 70px;
  display: inherit;
  margin: 71px auto;
  text-transform: uppercase;
  background: linear-gradient(0deg, #2798b9 0%, #3ab6da 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.gift .gift-container .btn {
  margin: 0 auto;
  margin-top: 50px;
}

.top-promo .content-container .more {
  display: block;
  margin: 0 auto;
}

.top-promo .content-container .more .more-text {
  color: white;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.top-promo .content-container .more .more-img {
  display: block;
  margin: 5px auto;
}

/* section waiting */

.waiting {
  background-color: #efefef;
  min-height: 600px;
  text-align: center;
  padding: 85px 0 75px;
}

.waiting .content-container,
.finish .content-container,
.gift .gift-container {
  width: 1140px;
  margin: 0 auto;
}

.waiting .content-container .waiting-title,
.finish .content-container .finish-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.finish .content-container .finish-title {
  color: #ffffff;
}

.waiting .content-container .waiting-devider,
.finish .content-container .finish-devider {
  display: block;
  margin: 20px auto;
  width: 220px;
  height: 7px;
  background: #f9bf3b;
}

.waiting .content-container .waiting-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;

  color: #4a4a4a;
}

.waiting .content-container .waiting-content {
  margin-top: 45px;
  display: flex;
  justify-content: space-around;
}

.waiting .content-container .waiting-content .waiting-item {
  width: 340px;
}

.waiting .content-container .waiting-content .waiting-item .waiting-item-img {
  width: 100%;
}

.waiting .content-container .waiting-content .waiting-item .waiting-descr {
  margin-top: 25px;
  max-width: 100%;
}

/* section optim */
.optim {
  margin-top: 50px;
}

.optim .optim-content {
  min-height: 500px;
  display: block;
  margin: 0 auto;
  width: 1380px;
  background: url('../img/woman_bg.png') left no-repeat;
}

.optim .optim-content .optim-title {
  display: inline-block;
  margin-left: 630px;
  margin-top: 60px;
  margin-bottom: 25px;
  width: 750px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  text-transform: uppercase;
  color: #299cbd;
}

.optim .optim-content .optim-text {
  margin-left: 630px;
  width: 750px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  color: #4a4a4a;
}

.optim .optim-content .optim-text .mark {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 27px;
  color: #4a4a4a;
}

/* section finish */
.finish {
  background: url('/img/second_bg.png') center/cover no-repeat;
  padding-top: 85px;
  padding-bottom: 70px;
  min-height: 450px;
}

/* .finish .content-container //description in waiting section*/

/* .finish .content-container .finish-devider  //description in waiting section*/

/* .finish .content-container .finish-title //description in waiting section*/

.finish .content-container .finish-content {
  display: flex;
  justify-content: space-between;
}

.finish .content-container .finish-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 230px;
  margin-top: 20px;
}

.finish .content-container .finish-item .round-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b4e2ff;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border-color: #b4e2ff;
}

.finish .content-container .finish-item .round-bg .finish-item-img {
  width: 70px;
  height: 50px;
}

.finish .content-container .finish-content .finish-item .finish-item-descr {
  margin-top: 25px;
  color: #efefef;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  width: 200px;
}

/* section gift */

.gift {
  background-color: #efefef;
  min-height: 630px;
  padding: 90px 0;
}

/* .gift .gift-container //description in waiting section */

/* .gift gift-container .btn //description in promo section*/

.gift .gift-container .gift-img {
  display: block;
  margin: 0 auto;
}
.gift .gift-container .gift-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 43px;
  text-align: center;
  margin-top: 45px;
}

/* section webinar */

.webinar {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  width: 580px;
  min-height: 430px;
}
.webinar .webinar-icon {
  display: block;
  margin: 0 auto;
  width: 340px;
  height: 200px;
}
.webinar .webinar-text-upper {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #252525;
  margin-top: 35px;
}

.webinar .webinar-date {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #299cbd;
  margin-top: 30px;
}

.webinar .webinar-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  color: #4a4a4a;
  margin-top: 25px;
}

/* footer */
footer {
  min-height: 170px;
  background: #1a1a1a;
  display: flex;
  justify-content: center;
}

footer .footer-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  text-decoration-line: underline;
  color: #888888;
  text-align: center;
  margin: 0 auto;
  margin-top: 85px;
  margin-bottom: 40px;
}

footer .link {
  text-decoration: none;
  
}


a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: #666;